/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.clickable {
    @apply hover:cursor-pointer active:scale-85;
}

.input {
    @apply bg-transparent border-2 border-expo rounded-sm focus:outline-none px-1 py-1 transition-all;
}
